@font-face{
    font-family: 'web sans';
    src: url('../assets/font-family/Work_Sans/WorkSans-Medium.ttf');
}

@font-face{
    font-family: 'poppins';
    src: url('../assets/font-family/Poppins/Poppins-Medium.ttf');
}

@font-face{
    font-family: 'heebo';
    src: url('../assets/font-family/Heebo/Heebo-Medium.ttf');
    font-weight: 500;
}

@font-face{   
    font-family: 'heebo';
    src: url('../assets/font-family/Heebo/Heebo-Regular.ttf');
    font-weight: 400;
}

@font-face{   
    font-family: 'heebo';
    src: url('../assets/font-family/Heebo/Heebo-Light.ttf');
    font-weight: 300;
}