* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-view{
    height: 100vh;
}

.wrapper{
    text-align: center;
}

.right-wrapper{
    text-align: right;
}

.inline{
    display: inline;
}

.margin-ra{
    margin-right: auto;
}

.margin-la{
    margin-left: auto;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.flex{
    display: flex;
    flex-direction: row;
}


.col{
    display: flex;
    flex-direction: column;
}

.flex .col{
    width: 49.9%;
}

.w1{
    width: 8.3%;
}

.w2{
    width: 16.6%;
}

.w3{
    width: 24.9%;
}

.w4{
    width: 33.2%;
}

.w5{
    width: 41.5%;
}

.w6{
    width: 49.8%;
}

.w7{
    width: 58.1%;
}

.w8{
    width: 66.4%;
}

.w9{
    width: 74.7%;
}

.w10{
    width: 83.1%;
}

.w11{
    width: 91.4%;
}

.w12{
width: 99.7%;
}

.card{
    width: 275px;
    min-height: 200px;
    max-height: max-content;
    border: 1px solid #E1E1E1 ;
    padding: 10px;
}

.center-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-card .card-content{
    text-align: center;
}

.left-card{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

@media all and (max-width:720px){
    .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex{
        flex-wrap: wrap;
    }

}