@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1, h2, h3 {
  font-weight: 500 !important;
}

button.main {
  cursor: pointer;
  -webkit-transition: all 0.18s ease-in;
  transition: all 0.18s ease-in;
  border: 2px solid #4285f4;
}

button.main:hover {
  -webkit-box-shadow: 0 0 25px rgba(66, 133, 244, 0.32);
          box-shadow: 0 0 25px rgba(66, 133, 244, 0.32);
  background: #4285f4;
  color: #fff;
}

button.main:focus {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

button.main:active {
  -webkit-transform: translateY(-10%) scale(0.9);
          transform: translateY(-10%) scale(0.9);
}

.primary-btn {
  background: #4285f4 !important;
  color: #fff !important;
}

.primary-btn-alt {
  background: transparent;
  color: #4285f4;
}

.primary-btn-white-alt {
  background: transparent;
  color: #fff;
  border-color: #fff;
}

.primary-btn-white-alt:hover {
  background: #fff !important;
  border-color: #fff !important;
  color: #4285f4 !important;
  -webkit-box-shadow: 0 0 25px rgba(255, 255, 255, 0.32) !important;
          box-shadow: 0 0 25px rgba(255, 255, 255, 0.32) !important;
}

#main {
  position: relative;
}

.section {
  width: 100%;
  position: relative;
}

.section .section-content-container {
  height: 100%;
}

.section.has-slides > div {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.section .section-content-heading {
  margin: 1em;
  padding: 1em;
  text-align: center;
  color: #616d82;
}

.section .section-content-heading h2 {
  margin: 1em 0;
}

.section .section-content-heading p {
  margin: 0 0 2em 0;
}

.section .section-content-heading p:nth-last-of-type(1) {
  margin: 0;
}

.section .section-items-cont {
  margin: 1em;
  padding: 1em;
  color: #616d82;
}

.section .section-items-cont .section-item {
  text-align: center;
  margin: 1em 0;
  padding: 1em 0;
}

.section .section-items-cont .section-item .icon-cont {
  margin: 0 0 18px 0;
}

.section .section-items-cont .section-item .section-item-details h3 {
  margin: 18px 0;
}

.section .section-items-cont.carousel-cont {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.section .section-items-cont .section-item.box {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border: 2px solid #616d82;
  border-radius: 1em;
  text-align: left;
}

.section .indicators-cont {
  display: inline-block;
  position: relative;
  margin: 1em;
  padding: 1em;
}

.section .indicators-cont .indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0 0.5em;
  -webkit-transition: all 0.12s ease;
  transition: all 0.12s ease;
  cursor: pointer;
  background: #8ab4f8;
}

.section .indicators-cont .indicator.active {
  background: #4285f4;
}

.section .indicators-cont .indicator:hover {
  -webkit-transform: translateY(-2.5px);
          transform: translateY(-2.5px);
  background: #1d63d3;
}

@media screen and (min-width: 769px) {
  .section .section-content-heading {
    text-align: left;
  }
  .section .section-items-cont .section-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  .section .section-items-cont .section-item .icon-cont {
    margin: 18px;
  }
}

.logo-container {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #e1e1e1;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.96);
  z-index: 999;
  color: #616d82;
}

.logo-container .main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.55em auto;
}

.logo-container .main-logo .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.logo-container .main-logo .logo svg {
  width: 30px;
  height: 30px;
  margin: 0 0.75em 0 0;
}

.logo-container .main-logo .logo svg path:nth-of-type(1) {
  fill: #FFCA28;
}

.logo-container .main-logo .logo svg path:nth-of-type(2) {
  fill: #f8a304;
}

.logo-container .main-logo .logo svg path:nth-of-type(3) {
  fill: #4285f4;
}

.logo-container .main-logo .logo svg path:nth-of-type(4) {
  fill: #1d63d3;
}

.section.landing {
  min-height: 600px;
  height: 70vh;
  margin: 70px 0 0 0;
}

@media screen and (min-width: 769px) {
  .logo-container {
    position: absolute;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background: none;
  }
  .logo-container .main-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2em calc(7.5% / 2);
  }
}

.section-content-container.details {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.section-content-container.details .intro-text-container {
  width: 85%;
  margin: 0 auto;
}

.section-content-container.details .intro-text-container h1, .section-content-container.details .intro-text-container p {
  margin: 0 0 1em  0;
  color: #616d82;
}

.section-content-container.details .intro-text-container h1 {
  font-weight: 700;
}

.actions-container {
  margin: 0 0;
}

.actions-container button {
  padding: 0.85em 1.35em;
  border-radius: 0.35em;
  margin: 0 0.85em 0 0;
}

.actions-container button:nth-last-of-type(1) {
  margin: 0;
}

.section-content-container.display {
  display: none;
}

@media screen and (min-width: 769px) {
  .section.landing {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin: 0;
  }
  .section-content-container.details .logo-container {
    border: none;
    padding-top: 2em;
  }
  .section-content-container.details:nth-of-type(1) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .section-content-container.details::nth-of-type(2) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .section-content-container.display {
    display: block;
    background-image: url(../../assets/img/two-woman-sitting-on-sofa-while-using-laptops-1181274.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section-content-container.display div {
    display: none;
  }
}

.section.about {
  background: #4285f4;
  color: #fff;
  text-align: center;
  min-height: 22%;
  position: relative;
  z-index: 1;
}

.section.about .wrapper1 {
  background: #4285f4;
  padding: 1em;
  top: 0;
  position: relative;
  -webkit-transform: translateY(25%) skewY(5deg);
          transform: translateY(25%) skewY(5deg);
  min-height: 280px;
}

.section.about .wrapper1 .wrapper2 {
  -webkit-transform: translateY(-25%) skewY(-5deg);
          transform: translateY(-25%) skewY(-5deg);
}

.section.about .wrapper1 .svg-container {
  margin: 1em auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section.about .wrapper1 .svg-container svg {
  height: 40px;
  width: 40px;
}

.section.about .wrapper1 .svg-container svg path {
  fill: none;
  stroke: #4285f4;
  stroke-width: 3px;
}

.section.about .wrapper1 h3 {
  font-weight: 100;
  margin: 1em 0;
}

.section.about .wrapper1 p {
  width: 88%;
  margin: auto;
  font-weight: 100;
}

.section.about .wrapper1 .actions-container {
  margin: 4em 0 0 0;
}

.section.about .wrapper1 .actions-container button {
  border: 2px solid #fff;
}

@media screen and (min-width: 769px) {
  .section.about .wrapper1 p {
    width: 60%;
  }
}

.section.technologies {
  margin: 20px 0 0 0;
}

.section.technologies .section-content-container.display {
  display: block;
}

.section.technologies .section-content-container.display img {
  width: 100%;
}

.section.technologies .section-content-container.details {
  display: block;
}

@media screen and (min-width: 769px) {
  .section.technologies {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .section.technologies .section-content-container.display {
    background: none;
    position: relative;
    overflow: hidden;
  }
  .section.technologies .section-content-container.display img {
    position: absolute;
    height: 100%;
    width: unset;
  }
  .section.technologies .section-content-container.details {
    padding: 20% 18px 18px 18px;
  }
}

.section.has-slides .section-content-heading {
  text-align: center;
}

.section.has-slides .carousel.slide {
  width: 90%;
  margin: 1em auto;
}

.section.has-slides .carousel.slide .carousel-indicators {
  position: relative;
}

.section.has-slides .carousel.slide .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #8ab4f8;
  margin: 0 10px;
}

.section.has-slides .carousel.slide .carousel-indicators li.active {
  background: #4285f4;
}

.section.has-slides .carousel.slide .carousel-indicators li:hover {
  -webkit-transform: translateY(-2.5px);
          transform: translateY(-2.5px);
  background: #1d63d3;
}

.section.has-slides .carousel.slide .carousel-inner {
  margin: 0 0 1em 0;
}

.section.has-slides .carousel.slide .carousel-inner .carousel-item {
  width: 100%;
  min-height: 300px;
}

.section.has-slides .carousel.slide .carousel-inner .carousel-item .item-wrapper {
  margin: 0 2em;
  padding: 1em;
  border: 1px solid #616d82;
  color: #616d82;
  border-radius: 0.25em;
  text-align: center;
}

.section.has-slides .carousel.slide .carousel-inner .carousel-item div {
  margin: 1em 0;
}

.section.has-slides .no-carousel.slide {
  display: none;
}

@media screen and (min-width: 769px) {
  .section.has-slides .carousel.slide {
    display: none;
  }
  .section.has-slides .no-carousel.slide {
    display: block;
  }
  .section.has-slides .no-carousel.slide .no-carousel-inner {
    margin: 1em;
    display: -ms-grid;
    display: grid;
    row-gap: 2em;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .section.has-slides .no-carousel.slide .no-carousel-inner .no-carousel-item {
    width: 100%;
    min-height: 300px;
  }
  .section.has-slides .no-carousel.slide .no-carousel-inner .no-carousel-item .item-wrapper {
    margin: 0 1em;
    padding: 1em;
    border: 1px solid #616d82;
    color: #616d82;
    border-radius: 0.25em;
    text-align: center;
    height: 100%;
  }
  .section.has-slides .no-carousel.slide .no-carousel-inner .no-carousel-item div {
    margin: 1em 0;
  }
}
/*# sourceMappingURL=styles.css.map */