$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$primary: #4285f4;
$primary-dark: #1d63d3;
$secondary: #FFCA28;
$secondary-dark: rgb(248, 163, 4);
$primary-shadow: 0 0 25px rgba(66, 133, 244, 0.32);
$main-text: #5f5f5f;


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font;
}

button.main{
    cursor: pointer;
    transition: all 0.18s ease-in;
    border: 2px solid $primary;


    &:hover, &:focus{
        transform: translateY(-10%);
        box-shadow: $primary-shadow;
        background: $primary;
        color: #fff;
    }
    &:active{
        transform: translateY(-10%) scale(0.9);
    }

}
.primary-btn{
    background: $primary !important; 
    color: #fff !important;
}
.primary-btn-alt{
    background: transparent; 
    color: $primary;
}

#main{
    position: relative;
}

.section{
    width: 100%;
    position: relative;
}

$minHght: 70vh;
.section.landing{
    height: $minHght;
}

.logo-container{
    position: relative;                             
    top: 0;
    width: 100%;
    border-bottom: 2px solid #e1e1e1;
    left: 0;
    display: flex;
    align-items: center;

    .main-logo{
        display: flex;
        align-items: center;
        margin: 1em auto;

        .logo{
            display: inline-flex;
    
            svg{
                width: 30px;
                height: 30px;
                margin: 0 0.75em 0 0;
    
                path:nth-of-type(1){
                    fill: $secondary;
                }
                path:nth-of-type(2){
                    fill: $secondary-dark;
                }
                path:nth-of-type(3){
                    fill: $primary
                }
                path:nth-of-type(4){
                    fill: $primary-dark;
                }
            }
    
        }
    }

}

@media screen and (min-width: 600px){
    .logo-container{
        position: absolute;
        border: none;

        .main-logo{
            display: flex;
            align-items: center;
            margin: 2em calc(7.5% / 2);
        }
    }
}

.section-content-container.details{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    min-height: $minHght;


    .intro-text-container{
        width: 85%;
        margin: 0 auto;
        
        h1, p{  
            margin: 0 0 1em  0;
        }

        h1{
            color: $main-text;
            font-weight: 700;
        }

        .actions-container{
            margin: 0 0;

            button{
                padding: 0.85em 2.15em;
                border-radius: 0.35em;
                margin: 0 0.85em 0 0;

                &:nth-last-of-type(1){
                    margin: 0;
                }
            }
        }
    }
}
.section-content-container.display{
    display: none;
}

.section.about{
    background: $primary;
    color: #fff;
    text-align: center;
    min-height: 22%;    
    padding: 1em 0;

    .svg-container{
        margin: 0 auto;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            height: 40px;
            width: 40px;
            
            path{
                fill: none;
                stroke: $primary;
                stroke-width: 3px;
            }
        }

    }

    p{

    }

}

//for larger screens
@media screen and (min-width: 600px){
    .section.landing{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
    }
    .section-content-container.details{
        height: 100%;
        .logo-container{
            border: none;
            padding-top: 2em;
        }
        &:nth-of-type(1){
            grid-column: 1;  
        }
        &::nth-of-type(2){
            grid-column: 2;
        }
    
    }
    .section-content-container.display{
        display: block;
        height: 100%;
        background-image: url(../../assets/img/landing.JPG);
        background-repeat: no-repeat;
        background-size: cover;

        & div{
            display: none;
        }
    }
}
