@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&display=swap');
$font: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$primary: #4285f4;
$primary-dark: #1d63d3;
$secondary: #FFCA28;
$secondary-dark: rgb(248, 163, 4);
$primary-shadow: 0 0 25px rgba(66, 133, 244, 0.32);
$primary-white-alt-shadow: 0 0 25px rgba(255, 255, 255, 0.32);
$main-text: #616d82;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font;
}

h1,h2,h3{
    font-weight: 500!important;
}

button.main{
    cursor: pointer;
    transition: all 0.18s ease-in;
    border: 2px solid $primary;


    &:hover{
        box-shadow: $primary-shadow;
        background: $primary;
        color: #fff;
    }
    &:focus{
        transform: translateY(-10%);
    }
    &:active{
        transform: translateY(-10%) scale(0.9);
    }

}
.primary-btn{
    background: $primary !important; 
    color: #fff !important;
}
.primary-btn-alt{
    background: transparent; 
    color: $primary;
}
.primary-btn-white-alt{
    background: transparent; 
    color: #fff;
    border-color: #fff;

    &:hover{
        background: #fff!important;
        border-color: #fff!important;
        color: $primary!important;
        box-shadow: $primary-white-alt-shadow!important;
    }
}

#main{
    position: relative;
}

.section{
    width: 100%;
    position: relative;
    .section-content-container{
        height: 100%;

    }
    
    .section-content-heading{
        margin: 1em;
        padding: 1em;
        text-align: center;
        color: $main-text;

        h2{
            margin: 1em 0;
        }

        p{
            margin: 0 0 2em 0;

            &:nth-last-of-type(1){
                margin: 0;
            }
        }
    }
    .section-items-cont{
        margin: 1em;
        padding: 1em;
        color: $main-text;

        // & .carousel-item.section-item{
        //     margin: none;

        //     &.active{
        //         display: inline-block;
        //     }
        // }

        .section-item{
            text-align: center;
            margin: 1em 0;
            padding: 1em 0;


            .icon-cont{
                margin: 0 0 18px 0;

                img{

                }
            }
            .section-item-details{
                h3{
                    margin: 18px 0;
                }
            }
        }

        &.carousel-cont{
            display: inline-flex;
        }
        .section-item.box{
            display: inline-block;
            width: 300px;
            padding: 1em;
            border: 2px solid $main-text;
            border-radius: 1em;
            text-align: left;
        }
    }
    .indicators-cont{
        display: inline-block;
        position: relative;
        margin: 1em;
        padding: 1em;

        .indicator{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border:  none;
            outline: none;
            margin:0 0.5em;
            transition: all 0.12s ease;
            cursor: pointer;
            background: lighten($color: $primary, $amount: 15);

            &.active{
                background: $primary;
            }
            &:hover{
                transform: translateY(-2.5px);
                background: $primary-dark;
            }
        }
    }
}

@media screen and (min-width: 769px){
    .section{

        .section-content-heading{
            text-align: left;
        }
        .section-items-cont{
            .section-item{
                display: flex;
                text-align: left;
    
                .icon-cont{
                    margin: 18px;
                    img{
    
                    }
                }
                .section-item-details{
                    
                }
            }
        }    

    }    
}

.logo-container{
    position: fixed;                             
    top: 0;
    width: 100%;
    border-bottom: 2px solid #e1e1e1;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(5px);
    background: rgba($color: #fff, $alpha: 0.96);
    z-index: 999;
    color: $main-text;

    .main-logo{
        display: flex;
        align-items: center;
        margin: 1.55em auto;

        .logo{
            display: inline-flex;
    
            svg{
                width: 30px;
                height: 30px;
                margin: 0 0.75em 0 0;
    
                path:nth-of-type(1){
                    fill: $secondary;
                }
                path:nth-of-type(2){
                    fill: $secondary-dark;
                }
                path:nth-of-type(3){
                    fill: $primary
                }
                path:nth-of-type(4){
                    fill: $primary-dark;
                }
            }
    
        }
    }

}

$minHght: 600px;
.section.landing{
    min-height: $minHght;
    height: 70vh;
    margin: 70px 0 0 0;
}


@media screen and (min-width: 769px){
    .logo-container{
        position: absolute;
        border: none;
        box-shadow: none;
        backdrop-filter: none;
        background: none;

        .main-logo{
            display: flex;
            align-items: center;
            margin: 2em calc(7.5% / 2);
        }
    }
}

.section-content-container.details{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;

    .intro-text-container{
        width: 85%;
        margin: 0 auto;
        
        h1, p{  
            margin: 0 0 1em  0;
            color: $main-text;
        }

        h1{
            font-weight: 700;
        }

    }
}

.actions-container{
    margin: 0 0;

    button{
        padding: 0.85em 1.35em;
        border-radius: 0.35em;
        margin: 0 0.85em 0 0;

        &:nth-last-of-type(1){
            margin: 0;
        }
    }
}

.section-content-container.display{
    display: none;
}

//for larger screens
@media screen and (min-width: 769px){
    .section.landing{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        margin: 0;
    }
    .section-content-container.details{
        .logo-container{
            border: none;
            padding-top: 2em;
        }
        &:nth-of-type(1){
            grid-column: 1;  
        }
        &::nth-of-type(2){
            grid-column: 2;
        }
    }
    .section-content-container.display{
        display: block;
        background-image: url(../../assets/img/two-woman-sitting-on-sofa-while-using-laptops-1181274.png);
        background-repeat: no-repeat;
        background-size: cover;

        & div{
            display: none;
        }
    }
}


.section.about{
    background: $primary;
    color: #fff;
    text-align: center;
    min-height: 22%;    
    position: relative;
    z-index: 1;
    
    .wrapper1{
        background: $primary;
        padding: 1em;
        top: 0;
        position: relative;
        transform: translateY(25%) skewY(5deg);
        min-height: 280px;

        .wrapper2{
            transform: translateY(-25%) skewY(-5deg);

        }
        .svg-container{
            margin: 1em auto;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            svg{
                height: 40px;
                width: 40px;
                
                path{
                    fill: none;
                    stroke: $primary;
                    stroke-width: 3px;
                }
            }

        }
        h3{
            font-weight: 100;
            margin: 1em 0;
        }
        p{
            width: 88%;
            margin: auto;
            font-weight: 100;
        }   
        .actions-container{
            margin: 4em 0 0 0;
            button{
                border: 2px solid #fff;
            }
        }
    }

}

@media screen and (min-width: 769px){
    .section.about{
        .wrapper1{
            p{
                width: 60%;
            }
        }
    }
}

.section.technologies{
    margin: 20px 0 0 0;
    .section-content-container.display{
        display: block;

        img{
            width: 100%;
        }
    }

    .section-content-container.details{
        display: block;
        .section-items-cont{

        }
        .indicators-cont{

        }
    }

}


@media screen and (min-width: 769px){
    .section.technologies{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .section-content-container.display{
            background: none;
            position: relative;
            overflow: hidden;

            img{
                position: absolute;
                height: 100%;
                width: unset;
            }
            
        }
        .section-content-container.details{
            padding: 20% 18px 18px 18px;
        }
    }
}

.section.communities{
    .carousel.slide{
        width: fit-content;
        margin: 1em auto;

        .carousel-indicators{
            li{
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }

        .carousel-inner{
            .carousel-item{
                width: 300px;
                height: 300px;
                padding: 1em;
                border: 2px solid $main-text;
                border-radius: 1em;
                text-align: left;
    
            }
        }
    }
}